
.page_content
{
    display: inline;
}

#selfie
{
    width:200px;
}

.picture_title
{
    text-align: center;
    margin: 2px;
}

#photo_sef
{
    width:200px;
    margin:0 auto;
}

/* Small screens */  
@media screen and (max-width: 576px) 
{
  
}

/*Tablets */
@media screen and (min-width:577px)
{
  
}

/* Large Screens */
@media screen and (min-width:993px)
{
    
}