.mapouter
{
    display: block;
}

#gmap_canvas
{
    width: 80vw;
    align-self: center;
    height: 400px;
}

#contact_info
{
    align-self: center;
}

#contact_info table td:nth-child(2)
{
    text-align: center;
}

.page_content
{
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Small screens */
@media screen and (max-width: 576px)
{

}

/*Tablets */
@media screen and (min-width:577px)
{

}

/* Large Screens */
@media screen and (min-width:993px)
{
    #gmap_canvas
    {
        width: 35vw;
        height: 500px;
    }

}
